@charset "utf-8";

/*reji.htmlのcss*/
h2{
    text-align: center;
}

#gokei{
    text-align: left 0px;
}

#yen{
    text-align: center;
}

#otodoke{
    text-align: 150px;
}

#cus-home{
    display: grid;
	place-items: center ;
}

#white{
    margin: center auto;
}

#shiharai{
    text-align: left 0px;
}

#radio-wrap{
    margin: center auto;
}

button{
    display: block;
    margin: 0 auto;
    background-color: #89c3fd;
    border-color: rgb(221, 221, 221);
    font-family: 'Century Gothic', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
  }

/*buy_kakunin.html*/
#h2{
    text-align: center;
}

#otodoke{
    text-align: left;
}

#cus-home{
    text-align: left;
}

#shiharai{
    text-align: left;
}

#radio-wrap{
    text-align: center;
}

#h3{
    text-align: left;
}

#grey{
    margin-right: center;
}

/*buy_ok.html*/
#h3{
    text-align: left;
}

#h2{
    text-align: center;
}

#kounyuu{
    text-align: center;
}

/*cart.html*/
#h2{
    text-align: center;
}

#s-joho1{
    text-align: center;
}

#delete1{
    margin-right: 0%;
}

#s-joho2{
    text-align: center;
}

#delete2{
    text-align: center;
}

#gokei{
    text-align: center;
}

/*mypage.html*/
#name{
    text-align: center;
}

#n-name{
    margin: center auto;
}