@charset "utf-8";

/*reji.htmlのcss*/
h2{
    text-align: center;
}

#left{
    text-align: left;
}

#center{
    text-align: center;
}

#cus-home{
    display: grid;
	place-items: center ;
}

button{
    display: block;
    margin: 0 auto;
    background-color: #89c3fd;
    border-color: rgb(221, 221, 221);
    font-family: 'Century Gothic', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
  }

/*buy_kakunin.html*/
#h2{
    text-align: center;
}

#h3{
    text-align: left;
}

/*buy_ok.html*/
#h3{
    text-align: left;
}

#h2{
    text-align: center;
}

/*cart.html*/
#h2{
    text-align: center;
}

/*mypage.html*/
#name{
    text-align: center;
}

#n-name{
    margin: center auto;
}
