.add_button {
    display       : inline-block;
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 21px 21px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #ffffff;    /* 枠の指定 */
    }
    .add_button:hover {
    color         : #ffffff;     /* 背景色     */
    background    : #000000;     /* 文字色     */
    }

    