@charset "utf-8";

/*ログイン画面のcss*/


/*売上管理画面のcss*/
#center{
  text-align: center;
}

input[type="text"] {   border: 1px solid #89c3fd; }
input[type="number"] {   border: 1px solid #89c3fd; }
input[type="email"] {   border: 1px solid #89c3fd; }
input[type="password"] {   border: 1px solid #89c3fd; }
input[type="date"] {   border: 1px solid #7a7e7f; }
select[name="brand"] {   border: 1px solid #89c3fd; }
select[name="kategori"] {   border: 1px solid #89c3fd; }
#uriage{
  text-align: center;
}

.grey{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    margin:0 auto;
    padding: .9em 2em;
    border: 1px solid #7a7e7f;
    border-radius: 5px;
    background-color: #fff;
    color: #7a7e7f;
    font-size: 1em;
}

.return{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin:0 auto;
    padding: .9em 2em;
    border: 1px solid #7a7e7f;
    border-radius: 5px;
    background-color: #fff;
    color: #7a7e7f;
    font-size: 1em;
}

.ao{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
  margin:0 auto;
  padding: .9em 2em;
  border: 1px solid #2589d0;
  border-radius: 5px;
  background-color: #fff;
  color: #2589d0;
  font-size: 1em;
}

.next{
  display: block;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  margin:0 auto;
  padding: .9em 2em;
  border: 1px solid #2589d0;
  border-radius: 5px;
  background-color: #fff;
  color: #2589d0;
  font-size: 1em;
}

.ao2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  margin:0 auto;
  padding: .9em 2em;
  border: 1px solid #2589d0;
  border-radius: 5px;
  background-color: #fff;
  color: #2589d0;
  font-size: 1em;
}


table{
  border-collapse: collapse;
  margin: 3px auto;
}
table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}
th {
  color: #000000;;/*文字色*/
  background: #2589d0;/*背景色*/	
}

/*商品登録画面のcss*/
#h3{
  text-align: left;
}

/*商品登録確認画面のcss*/
#center2{
  display: flex;
  margin: center;
  }

/*商品登録完了のcss 同じ処理のみ完了*/


/*ログアウト画面のcss 同じ処理のみ完了*/


/*ログアウト完了画面のcss 同じ処理のみ完了*/
