<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>&cosme</title>
</head>
<body>
    <div id="cart">
    <nav>
        <ul>
            <li><h1>&cosme</h1></li>
            <li>
                <img src="css/image/home.svg" @click="nextHome" width="40" height="40" alt="home">
                <div><font size="1">&nbsp;ホーム　　</font></div>
            </li>
            <li>
                <img src="css/image/search.svg" @click="nextSearch" width="40" height="40" alt="search">
                <div><font size="1">　検索</font></div>
            </li>
            <li>  
                <img src="css/image/favorite.svg" @click="nextFavorite" width="40" height="40" alt="favorite">
                <div><font size="1">お気に入り</font></div>
            </li>
            <li>
                <img src="css/image/cart_black.svg" @click="nextCart" width="40" height="40" alt="cart">
                <div><font size="1">&nbsp;カート</font></div>
            </li>
            <li>
                <img src="css/image/mypage.svg" @click="nextMypage" width="40" height="40" alt="mypage">
                <div><font size="1">マイページ</font></div>
            </li>
        </ul>
    </nav>
    <div id="mannaka"><h2>カート</h2><hr width="150"></div><br>
    <div v-for="row in allData" :key="row.cart_id"><br>
        <div id="mannaka"><img :src="row.image_path" style="object-fit: contain; width: 100px; height: 100px;"></div>
        <div id="text3">
            <p>ブランド名：{{ row.brand_name }}</p>
            <p>商品名：{{ row.cosme_name }}</p>
            <p>価格：{{ row.price }}円</p>
            <p>カラー：{{ row.color_name }}</p>
            <button type="submit" @click="decrement(row.cart_id)" v-if="row.quantity>1">－</button>
            {{ row.quantity }}
            <button type="submit" @click="increment(row.cart_id)">＋</button>
            <button class="ao2" type="submit" @click="cartDelete(row.cart_id)">削除</button>
        </div>
    </div><br>
    <hr class="tensen">
    <div id="mannaka">
        <p>合計金額:{{ total }}円</p><br>
    </div>
    <p><button class="ao" type="submit" @click="nextOrder">レジに進む</button></p>
    </div><br>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/cart.js"></script>
</body>
</html>